<p>
    Welcome to Codenames Pictures!
</p>
<p>
    There are 25 pictures on the board, 9 belong to your team (blue), 8 belong to the enemy team (red), 7 are neutral (grey) and one is the assassin (black)
</p>
<p>
    The computer has generated a clue for you and your task is to select the pictures which relate to it.
</p>
<p>
    If you choose a picture which doesn't belong to your team, your turn will end immediately, the enemy will have their turn, and then you will be given a new clue.
</p>
<p>
    You win the game if you manage to choose all of your pictures before the enemy team, and you lose the game if the enemy finishes first, or if you choose the assassin.
</p>
<p>
    Tips
    <ul>
      <li>You can control the decay with the slider. A greater decay means more of your team's pictures will be linked, but there is a greater risk that the clue links to non-blue words.</li>
      <li>If you get really stuck you can click 'cheat' and see the scores from the clue to each picture on the board. A positive score indicates that the word belongs to your team and vice versa.</li>
      <li>Try to remember all the clues that the computer gives you, as they may be relevant in future rounds.</li>
    </ul>
</p>
<p>
    For more details on how the computer chooses clues, click the following
    <a href="https://github.com/Pbatch/CodenamesPictures" target="_blank">link</a>
</p>
