<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script>{% include 'js/main.js' %}</script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/board.css') }}'>
   </head>
   <body>
      <div id="application">
         <div id="left">
            <div class="left_container">
               <div id="title">
                  Codenames <br> Pictures
               </div>
               <div id="remaining">
                  <span class="remaining_text" id="blue" style="--colour:blue">9</span>
                  &nbsp;–&nbsp;
                  <span class="remaining_text" id="red" style="--colour:red">8</span>
               </div>
               <div id="clue">
                  <!-- The picture for the clue loads here -->
               </div>
               <div class="slider_container">
                  Decay
                  <input type="range" min="10" max="90" value="50" class="slider" id="decay_slider" style="--colour:#808080">
               </div>
               <div class="symbol_button" id="end_turn">
                  <div class="symbol_button_text">End Turn</div>
               </div>
               <div class="symbol_button" id="reset">
                  <div class="symbol_button_text">
                     Reset &#8634;
                  </div>
               </div>
               <div class="symbol_button" id="cheat">
                   <div class="symbol_button_text">
                     Cheat
                  </div>
               </div>
               <div class="symbol_button" id="instructions">
                   <div class="symbol_button_text">
                      Instructions &#63;
                   </div>
                  <div id="instructions_text">
                     <!-- The instructions go here -->
                  </div>
               </div>
            </div>
         </div>
         <div id="right">
            <div class="board" style="--split: 5;">
               {% for picture in board[1:] %}
                  <div>
                     <div id="frame{{picture.id}}" class="frame">
                        <img src="static/pictures/{{picture.pic_id}}.jpg" id="{{picture.id}}" class="picture">
                     </div>
                     <div id="score{{picture.id}}" class="score">
                        <!-- The score from the clue to the picture goes here -->
                        &nbsp
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>