<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script>{% include 'js/main.js' %}</script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/board.css') }}'>
   </head>
   <body>
      <div id="application">
         <div id="left">
            <div class="left-container">
               <div id="title">
                  Codenames
               </div>
               <div id="clue">
                  Loading clue...
               </div>
               <div id="remaining">
                  <span class="remaining_text" id="blue" style="--colour:blue">9</span>
                  &nbsp;–&nbsp;
                  <span class="remaining_text" id="red" style="--colour:red">8</span>
               </div>
               <div class="symbol_button" id="end_turn">
                  <div class="symbol_button_text">End Turn</div>
               </div>
               <div class="symbol_button" id="reset">
                  <div class="symbol_button_text">Reset &#8634;</div>
               </div>
            </div>
         </div>
         <div id="right">
            <div class="wrapper" style="--split: 5;">
               {% for picture in board[1:] %}
                  <div id="frame{{picture.id}}" class="frame">
                     <img src="static/pictures/{{picture.pic_id}}.jpg" id="{{picture.id}}" class="picture">
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>