#left {
  width: 20%;
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 2em;
  height: 90px;
}

#right {
  width: 80%;
  float: right;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.picture {
 display: block;
 height: 90px;
 transition: transform .2s;
 margin-left: auto;
 margin-right: auto;
}

.active_picture {
 display: block;
 height: 90px;
 opacity: 0.2;
 pointer-events: none;
 margin-left: auto;
 margin-right: auto;
}

.frame{
 display: block;
 height: 90px;
 margin-left: auto;
 margin-right: auto;
}

.remaining_text {
    font-weight: bold;
    font-family: Courier New;
    color: var(--colour);
}

.picture:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(2);
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--split), 1fr);
  background-color: #fff;
  color: #444;
  text-align: center;
  row-gap: 5px;
  column-gap: 0px;
}

.left_container {
  display: grid;
  grid-template-rows: 100px 200px 50px 50px 50px;
}

.symbol_button{
    padding: 0 1.5em;
}

.symbol_button_text{
    font-family: arial;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.symbol_button_text:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#application {
  padding-top: 20px;
}

#clue {
    font-size: 1em;
    margin: auto;
}

#title {
    font-family: Courier New, monospace;
    font-weight: bold;
    letter-spacing: .1em;
}

.score{
  font-family: arial;
}