#left {
  width: 20%;
  float: left;
  text-align: center;
}

#right {
  padding-top: 10px;
  width: 75%;
  float: left;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #323032;
    color: white;
    font-family: Courier New;
}

.picture {
 display: block;
 height: 90px;
 transition: transform .2s;
 margin-left: auto;
 margin-right: auto;
}

.active_picture {
 display: block;
 height: 90px;
 opacity: 0.2;
 pointer-events: none;
 margin-left: auto;
 margin-right: auto;
}

.frame{
 display: block;
 height: 90px;
 margin-left: auto;
 margin-right: auto;
}

.remaining_text {
    font-weight: bold;
    color: var(--colour);
    font-size: 1.5em;
}

.picture:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(2);
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--split), 1fr);
  text-align: center;
  row-gap: 5px;
}

.left_container {
  display: grid;
  /* Title | Score | Clue | Decay | End Turn | Reset | Cheat | Instructions */
  grid-template-rows: 100px 35px 200px 50px 50px 50px 50px 50px;
}

.symbol_button{
    padding: 0 1.0em;
}

.symbol_button_text{
    border-radius: 5px;
    background-color: #F0F0F0;
    color: #323032;
    font-size: 1.5em;
}

.symbol_button_text:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#application {
  padding-top: 20px;
}

#clue {
    font-size: 2em;
    margin: auto;
}

#title {
    font-family: Courier New, monospace;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 2em;
}

.score {
  font-family: Courier New;
  color: #323032;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  outline: none;
  background: #D0D0D0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--colour);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--colour);
  cursor: pointer;
}